#define WIFI_SSID "my_wifi_name"
#define WIFI_PASSWORD "UlTrAsEcReT_PaSsWoRd"

#define NETWORK_IP_ADDRESS IPAddress(192, 168, 1, 200)
#define NETWORK_IP_SUBNET IPAddress(255, 255, 255, 0)
#define NETWORK_IP_GATEWAY IPAddress(192, 168, 1, 254)
#define NETWORK_IP_DNS IPAddress(8, 8, 8, 8)

#define WEBSERVER_HOST "192.168.1.1"
#define WEBSERVER_PORT 7999
